.form-body{
     text-align: center;
     margin-top: 150px;
 }
.form-login{
    width: 400px;
    height: 370px;
}

.form-head{
    background-color: bisque !important;
}

.text{
   margin-top: 10px;
}

.text-field-login{
    margin-top: 20px;
}

.password-field{
    margin-top: 20px;
}

.buttons-login{
    margin-top: 20px;
}

.buttons-login Button{
    background-color: bisque !important;
    margin-left: 30px;
}

.fundoo-text{
    color: bisque;
}

.password-input{
    width: 320px;
}

.email-input{
    width: 320px;
}

@media (max-width:350px){
    .password-input{
        width: 200px;
    }
    
    .email-input{
        width: 200px;
    }

    .fundoo-text{
        font-size: larger;
    }

    .text span,b{
        font-size: medium;
    }

    .buttons-login Button{
        margin-left: 15px;
    }
}
