.main-login{

}

.form-login{
    width: 300px;
    margin-left: 495px;
    margin-top: 150px;
    height: 370px;
}

.form-head{
    
    background-color: bisque !important;
}
.text{
   text-align: center;
   margin-top: 10px;
}
.text-field-login{
    margin-top: 25px;
    margin-left: 40px;
}

#password-field{
    margin-top: 20px;
}

.buttons-login{
    margin-top: 20px;
    margin-left: 40px;
}

.buttons-login Button{
    background-color: bisque !important;
    margin-left: 30px;
}

.fundoo-text{
    text-align: center;
}

