.search-bar {
    margin-left: 60px;
    background-color: #f2f2f2;
    width: 250%;
    height: 40px;
    border-radius: 10px;
    padding-left: 20%;
}

.icons {
    margin-left: 50%;
}

@media(max-width:800px) {
    .search-bar {
        width: 170%;
    }

    .icons {
        margin-left: 40%;
    }
}

@media(max-width:900px) {
    .fundoo-text span {
        font-size: xx-small;
    }
}