.main-reg{
    text-align: center;
    margin-top: 100px;
}

.fundoo-reg{
    color: bisque;
}
.text-reg{
    text-align: center;
    margin-top: 10px;
}

.text-field-reg{
    margin-top: 40px;
}

#email-field-reg{
    margin-top: 20px;
    
}
.email{
    width: 440px;
}

.last-name{
    margin-left: 20px !important;
}

.mobile-no{
    width: 440px;
}
.confirm{
    margin-left: 20px !important;
}
#password-field-reg{
    margin-top: 20px;
}

#mobileNo-field-reg{
    margin-top: 20px;
}
.buttons-reg{
    margin-top: 20px;
}

.buttons-reg Button{
    margin-left: 90px;
    background-color: bisque;

}


#link{
    margin-left: 35px;
}
@media (max-width:470px){
    .last-name{
        margin-left: 8px !important;
        width: 100px;
    }
    .email{
        width: 208px;
    
    }
    .mobile-no{
        width: 208px;
    }
    .confirm{
        margin-left: 8px !important;
        width: 100px;
    }
    .first-name{
        width: 100px;
    }
    .pwd{
       width: 100px; 
    }
    #link{
        text-size-adjust: 10px;
    }
    .buttons-reg Button{
        margin-left: 15px;
    }

    .fundoo-reg{
        font-size: larger;
    }
}