.main-reset{
    text-align: center;
    margin-top: 130px;
}

.form-reset{
    width: 300px;
    height: 340px;
}

.form-head-reset{
    background-color: bisque !important
}
.text-reset{
    margin-top: 10px;
}
.text-field-reset{
    margin-top: 25px;
}

.buttons-reset{
    margin-top: 20px;
}

.buttons-reset Button{
    background-color: bisque;
    margin-left: 30px;
}

#confirm-field-reset{
    margin-top: 20px;
}
.new-password{
    width: 320px;
}
.confirm-password{
    width: 320px;
}
.fundoo-reset{
    color: bisque;
}

@media (max-width:365px){
    .new-password{
        width: 200px;
    }
    .confirm-password{
        width: 200px;
    }
    .fundoo-reset{
        font-size: larger;
    }
}