.main-reset{

}

.form-reset{
    width: 300px;
    margin-left: 495px;
    margin-top: 150px;
    height: 320px;
}

.form-head-reset{
    background-color: bisque !important
}
.text-reset{
    text-align: center;
    margin-top: 10px;
}
.text-field-reset{
    margin-top: 25px;
    margin-left: 40px;
}

.buttons-reset{
    margin-top: 20px;
    margin-left: 40px;
}

.buttons-reset Button{
    background-color: bisque;
    margin-left: 30px;
}

#confirm-field-reset{
    margin-top: 20px;
}

.fundoo-reset{
    text-align: center;
}