.main-forget{

}

.form-forget{
    width: 300px;
    margin-left: 495px;
    margin-top: 150px;
    height: 255px;
}

.form-head-forget{
    background-color: bisque !important;
}
.fundoo-forget{
    text-align: center;
}
.text-forget{
    text-align: center;
    margin-top: 10px;
}
.text-field-forget{
    margin-top: 25px;
    margin-left: 40px;
}

.buttons-forget{
    margin-top: 20px;
    margin-left: 40px;
}

.buttons-forget Button{
    background-color: bisque;
    margin-left: 30px;
}

.fundoo-forget{
    margin: 20px;
}