.main-forget {
    text-align: center;
    margin-top: 160px;
}

.form-forget {
    width: 300px;
    height: 275px;
}

.form-head-forget {
    background-color: bisque !important;
}

.fundoo-forget {
    color: bisque;
}

.text-forget {
    margin-top: 10px;
}

.text-field-forget {
    margin-top: 25px;
}

.buttons-forget {
    margin-top: 20px;
}

#link {
    margin-right: 50px;
}

.buttons-forget Button {
    background-color: bisque;
}

.fundoo-forget {
    margin: 20px;
}

.email-field {
    width: 320px;
}

@media (max-width:430px) {

    .email-field {
        width: 200px;
    }

    .buttons-forget Button {
        margin-left: 15px;
    }

    .fundoo-forget {
        font-size: larger;
    }

    #link {
        margin-right: 2px;
    }
}